section.about_banner {
    margin: 3rem 0 5rem 0;
}
.about-hero {
    height: 600px;
    background: #ffe4e4;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}
.about-hero img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .12;
}
.about-hero h1 {
    color: #000;
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 54px;
    font-family: 'Playfair Display';
    text-align: center;
    max-width: 720px;
    width: 100%;
    margin: 0;
}

.aboutOur_story_area {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(368px, 1fr) );
    align-items: center;
    gap: 100px;
}
.aboutOur_story_Cont {
    text-align: center;
}
.aboutOur_story_Cont h2 {
    font-size: 36px;
    font-family: 'Playfair Display';
    color: #000;
    font-weight: 600;
    margin-bottom: 35px;
}
.aboutOur_story_Cont p {
    font-size: 16px;
    font-family: 'Poppins';
    color: #333;
}

.aboutOur_story_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.aboutOur_story_img {
    height: 650px;
    border-radius: 30px;
    overflow: hidden;
}
.secGap {
    margin-bottom: 5rem;
}
span.brand-name {
    color: #d50000;
}
.teamMembers {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(305px, 1fr) );
    gap: 30px;
    margin-top: 45px;
}

.team_member {
    background: #f6f6f6;
    padding: 40px 40px 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
}
.team_member img {
    height: 370px;
    width: 100%;
    object-fit: contain;
    margin-top: 5rem;
}
.team_member h3 {
    font-family: 'Playfair Display';
    color: #333;
    font-size: 32px;
    font-weight: 600;
}
.ourTeam_area h2 {
    font-size: 36px;
    font-family: 'Playfair Display';
    font-weight: 600;
    color: #000;
    text-align: center;
    margin-bottom: 35px;
}
.ourTeam_area p {
    color: #333;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

@media (max-width: 991.98px) {
    .about-hero {
        height: 430px;
    }
    .about-hero h1 {
        font-size: 42px;
        max-width: 545px;
    }
    .aboutOur_story_area {
        gap: 42px;
    }
    .aboutOur_story_img {
        height: 500px;
    }
    .aboutOur_story_Cont h2 {
        font-size: 28px;
    }
}

@media (max-width: 801.98px) {
    .aboutOur_story_img {
        order: 2;
    }
    .aboutOur_story_img {
        height: 820px;
        border-radius: 20px;
        overflow: hidden;
    }
    .about-hero {
        border-radius: 20px;
    }
}

@media (max-width: 767.98px) {
    .ourTeam_area h2 {
        font-size: 26px;
        margin-bottom: 24px;
    }
    .teamMembers {
        margin-top: 30px;
        gap: 20px;
    }
    .team_member h3 {
        font-size: 20px;
    }
    .team_member img {
        margin-top: 3rem;
    }
    .about-hero {
        height: 300px;
    }
    h1 {
        font-size: 2.063rem !important;
    }
    .about-hero h1 {
        max-width: 466px;
    }
    section.about_banner {
        margin: 2rem 0 2rem 0;
    }
    .aboutOur_story_Cont h2 {
        margin-bottom: 24px;
    }
    .secGap {
        margin-bottom: 2rem;
    }
}

@media (max-width: 480.98px) {
    h1 {
        font-size: 2rem !important;
    }
    .aboutOur_story_img {
        height: 480px;
    }
    .aboutOur_story_area {
        grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    }
}